@import "./global.css";

.user_component {
  display: flex;
  justify-content: center;
}

.user-component__profile {
  margin-top: 10px;
  width: 4rem;
  border-radius: 50%;
}

.add-profile-btn {
  margin-top: 10px;
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: grey;
  border-radius: 50%;
}

.user, .new{
  text-align: center;
}

.continue-watching {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}

.continue-watching1, .continue-watching2 {
  height: 10rem;
  width: 11rem;
  border-radius: 1rem;
}

.continue-watching-name{
  display: flex;
  flex-direction: row;
}

.continue-watching-name1, .continue-watching-name2{
  padding: 8px;
  background-color: var(--purple);
  border-radius: 1rem;
}

.continue-watching-name2{
  margin-left: 10px;
}

.line{
  margin-left: 5px;
  margin-top: 3rem;
  width: 99%;
}

.mypage{
  display: flex;
  flex-direction: column;
}

.mypage-wishlist{
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  border-radius: 1rem;
  margin: 5px;
  position: relative;
}

.mypage-wishlist-img{
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  margin: 10px;
}


.mypage-wishlist-name{
  font-size: 20px;
  margin-top: 1rem;
}

.mypage-wishlist-play{
  height: 3rem;
  width: 3rem;
  background-color: beige;
  border-radius: 90%;
  margin-top: 1rem;
}

.mypage-wishlist > .mypage-wishlist-play{
  position: absolute;
  right: 0;
}